<!--@for (item of serviceData.services; track item) {
    <ul>
        <li>{{item}}</li>
    </ul>
}
    <ol>
        <li>Cleaning</li>
<li>Moving</li>
<li>TP</li>
    </ol>

    @for (item of serviceData.services; track item) {
<ol>
        <li>{{item}}</li>
    </ol>
}-->









<!--@for (item of serviceData.services ; track item) {
    <p>{{item}}</p>
   <ul>
        <li>{{item}}</li>
    </ul>

    <ol>
        <li>
            {{item}}
        </li>
    </ol>
}-->





<ol class="Horizontal">

  @for (item of serviceData.service; track item) {
<li>
    {{item}}
</li>
}  
</ol>

